body.dark-mode {
  .cartNav {
    // @media (max-width: 1264px) {
    position: fixed;
    height: 100%;
    top: 0;
    // left: -100vw;
    right: -100vw;
    z-index: 999;
    // transition: left 0.4s ease-in-out;
    transition: right 0.4s ease-in-out;

    background: var(--black);
    display: initial;
    justify-content: stretch;
    align-items: stretch;
    margin-left: 0;
    overflow-y: auto;
    padding: 40px 16px 120px;
    width: 350px;

    &.show {
      // left: 0;
      right: 0;
    }

    &.hidden {
      overflow: hidden;
    }
    // }

    @media screen and (max-width: 299px) {
      width: 280px;
    }
  }
}

body.light-mode {
  .cartNav {
    // @media (max-width: 1264px) {
    position: fixed;
    height: 100%;

    top: 0px;
    // left: -100vw;
    right: -100vw;
    z-index: 999;
    // transition: left 0.4s ease-in-out;
    transition: right 0.4s ease-in-out;

    background: var(--white);
    display: initial;
    justify-content: stretch;
    align-items: stretch;
    margin-left: 0;
    overflow-y: auto;
    padding: 40px 16px 120px;
    width: 350px;

    &.show {
      // left: 0;
      right: 0;
    }

    &.hidden {
      overflow: hidden;
    }
    // }

    @media screen and (max-width: 299px) {
      width: 280px;
    }
  }
}
