body.dark-mode {
  .why {
    position: relative;
    padding: 100px 0px;
    // background-color: #fff;

    .choose-head {
      text-align: center;
      max-width: 800px;
      margin: 0 auto 30px auto;

      h3 {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 950;
      }

      p {
        line-height: 26px;
        margin: 20px 0px 60px 0;
      }
    }

    .custom-pag {
      display: flex;
      align-items: center;
      margin-top: 50px;
      // margin-bottom: 0px;
      justify-content: center;

      @media screen and (max-width: 1200px) {
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;
      }

      @media screen and (max-width: 900px) {
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;
      }
      @media screen and (max-width: 600px) {
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 0px;
      }

      > span {
        width: 10px;
        height: 10px;
        opacity: 1;
        margin: 0 3px !important;
        background-color: var(--gray-txt);
        &.swiper-pagination-bullet-active {
          width: 36px;

          display: flex;
          align-items: center;
          justify-content: center;
          // opacity: 1;
          z-index: 2;

          &::before {
            content: "";
            width: 37px !important;
            height: 10px;
            // background: var(--white);
            background: var(--main-color) !important;
            // border-radius: 20%;
            border-top-right-radius: 10px !important;
            border-bottom-right-radius: 10px !important;
            border-top-left-radius: 10px !important;
            border-bottom-left-radius: 10px !important;

            z-index: 2;
          }
        }
      }
    }
  }
}

body.light-mode {
  .why {
    position: relative;
    // background-color: var(--gray-bg);
    padding: 100px 0px;

    .choose-head {
      text-align: center;
      max-width: 800px;
      margin: 0 auto 30px auto;

      h3 {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 950;
      }

      p {
        line-height: 26px;
        margin: 20px 0px 60px 0;
      }
    }

    .custom-pag {
      display: flex;
      align-items: center;
      margin-top: 50px;
      // margin-bottom: 0px;
      justify-content: center;

      @media screen and (max-width: 1200px) {
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;
      }

      @media screen and (max-width: 900px) {
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;
      }
      @media screen and (max-width: 600px) {
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 0px;
      }

      > span {
        width: 10px;
        height: 10px;
        opacity: 1;
        margin: 0 3px !important;
        background-color: var(--gray-txt);
        &.swiper-pagination-bullet-active {
          width: 36px;

          display: flex;
          align-items: center;
          justify-content: center;
          // opacity: 1;
          z-index: 2;

          &::before {
            content: "";
            width: 37px !important;
            height: 10px;
            // background: var(--white);
            background: var(--main-color) !important;
            // border-radius: 20%;
            border-top-right-radius: 10px !important;
            border-bottom-right-radius: 10px !important;
            border-top-left-radius: 10px !important;
            border-bottom-left-radius: 10px !important;

            z-index: 2;
          }
        }
      }
    }
  }
}
