body.dark-mode {
  .cart-info {
    // position: relative;
    padding: 100px 0px;
    // background-color: #fff;

    .title {
      font-size: 22px;
      text-transform: capitalize;
    }
  }
}

body.light-mode {
  .cart-info {
    // position: relative;
    // background-color: var(--gray-bg);
    padding: 100px 0px;
    .title {
      font-size: 22px;
      text-transform: capitalize;
    }

    .cart-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cart-count {
        display: flex;
        align-items: center;

        span {
          margin-right: 10px;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
    .cart-grid {
      display: grid;
      grid-template-columns: 4fr 2fr;
      gap: 0px 30px;

      .cart-order {
        background-color: aqua;
      }
      .cart-items{
         background-color: red;
      }
    }
  }
}
